{% extends 'base.html.twig' %}

{% block body %}

    {% if result == "Noslug" %}
        <h1>Aucune série sélectionnée, veuillez choisir une série.</h1>
    {% else %}
        <h1>{{ result }}</h1>


{% endblock %}



