{% extends 'base.htm.twig' %}

{% block body %}

    <h1>{{ slug }}.</h1>

    <h1>
        <a href="{{ path('wild/show', {'slug': 'ma-superbe-serie'}) }}">Ma superbe série"</a>
    </h1>
{% endblock %}



